*{
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    font-family: 'Play', sans-serif;
}
#header{
    display: flex;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
    z-index:500;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 35px;
}
.logo{
    
    padding-top: 10px;
    font-size: 30px;
}
.Store{
    color: orange;
    font-size: 30px;
}
#navbar1{
    display: flex;
    margin-left: 100px;
    padding-top: 35px;
    font-size: 30px;
    
}
a{
    text-decoration: none;
    list-style-type: none;   
    margin: 15px; 
    font-size: 20px;
    color: orange;
    width: 25px;
}
a:hover{
    cursor: pointer;
    color: blueviolet;
    border-radius: 5px;
    border-bottom: 3px solid blueviolet;
}
#header ul li{
 list-style-type: none;
}
 #log_in{
  
    background-color: orange;
    width: 120px;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#log_in:hover{
  
    background-color: rgb(255, 255, 255);
   width: 120px;
   height: 25px;
   border: 0px;
   border-radius: 5px;
   color: blue;
   border-bottom: 3px solid blueviolet;
   cursor: pointer;
}
 .btn1{
    margin-top: 35px;
    margin-left: 450px;
 }

 .home{
 display: flex;
 align-items: center;
 justify-content: center;
 background: url(/banner.bg2.jpg) no-repeat;
 background-position: center;
 background-size: cover;
 padding-top: 16em;
 }

.content{
    height: 200px;
    width: 500px;
}
.content1{
    align-items: center;
    font-size: 2rem;
    color: rgb(64, 64, 236);
}
.about_us{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
    font-size: 2rem;
    color: rgb(223, 6, 6);
    border: 10px;
}
#About h1{
    font-size: 30px;
}
#About p{
    font-size: 20px;
}
#About {
    font-size: 30px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    height: 300px;
    width: 550px;
}

#new_box {
    display: inline-block;
    margin-left: 10%;
    margin-top: 10px;
    padding-top: 10px;
    height: 12px;
    width: 18%;
}

#btn_About {
    background-color: orange;
    width: 120px;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#btn_About:hover {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    color: blue;
    border-bottom: 3px solid blueviolet;
    cursor: pointer;

}
.image1 {
    height: 300px;
    width: 500px;
}

.aboutus_heading {
    display: flex;
    justify-content: center;
   
}
.aboutusimg{
    width: 200px;
    height: 150px;
}
div img{
  /* width: 500px;
  height: 1000px;  */
  border-radius: 5px; 
}
.Our_product{ 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
    font-size: 2rem;
    color: rgb(223, 6, 6);
    border: 10px;
}
#Our_product_1{
    display: flex;
    justify-content:space-around ;
    align-content: center;

}
.box1{
    background-color:;
    height: 300px;
    width: 400px;
    font-size: 20px;
    border-bottom: 2px solid red;
}

.Recipes{
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(88, 88, 88); */
    text-align: center; 
    font-size: 2rem;
    color: rgb(223, 6, 6);
    border: 10px;
}


#Recipes_1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
}
.box2{
    background-color:;
    height: 300px;
    width: 400px;
    font-size: 20px;
    border-bottom: 2px solid rgb(69, 68, 68);  
}
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
    margin-top: 30px;
    width: 100%;
    height: 350px;
    background-color: rgb(94, 90, 90);
    
    border: 2px solid white;
}
.box3{
    color: white;
    height: 300px;
    width: 400px;
    font-size: 20px;
}
.foot{
    font-size: 30px;
}
